{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">
    <div class="form-box">
        <h2>Sign up</h2>
        <form id="register-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="master_password">Master password:</label>
                <input type="password" id="master_password" name="master_password" required>
            </div>
            <div class="form-group">
                <label for="confirm_master_password">Confirm master password:</label>
                <input type="password" id="confirm_master_password" name="confirm_master_password" required>
            </div>
            <button type="submit">Sign up</button>
        </form>
        <div class="form-footer">
            <p>Already have an account? <a href="../login">login</a> </p>
        </div>
        <p id="status"></p>
    </div>
</div>
<script src="{% static 'js/register.js' %}"></script>
</body>
</html>